<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>669782991770-puldl8ru5ohnhlrqb2qjv321m005sd10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.669782991770-puldl8ru5ohnhlrqb2qjv321m005sd10</string>
	<key>API_KEY</key>
	<string>AIzaSyD5b7gJ0DgnCaYCVlE_-jgxJLxtzQj1seA</string>
	<key>GCM_SENDER_ID</key>
	<string>669782991770</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PIOSE-Gruppe03.Bible-Buddy</string>
	<key>PROJECT_ID</key>
	<string>bible-buddy-3cc17</string>
	<key>STORAGE_BUCKET</key>
	<string>bible-buddy-3cc17.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:669782991770:ios:39acc510238bd489be5023</string>
	<key>DATABASE_URL</key>
	<string>https://bible-buddy-3cc17.firebaseio.com</string>
</dict>
</plist>